/*
	All pages formats
*/
nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #cc0000;
	font-size: 2em;
	text-align: center;
}

h1 {
	font-family: 'Anton', sans-serif;
	font-size: 4em;
}

body {
	background-color: #C0C0C0;
}

p {
	font-size: 18px;
}

/*
	Index formats
*/
#home-text {
	display: block;
	width: 400px;
	height: 300px;
}

#computer {
	float: right;
	margin: 0 0 15px 20px;
	padding: 15px;
}

#video {
	text-align: center;
}

/*
	Resume formats
*/
#resume {
	padding: 0 0 0 30px;
}

/*
	Sports formats
*/
#sports {
	display: block;
	width: 700px;
	height: 180px;
}

#sidebar {
	list-style-type: none;
	display: block;
	font-weight: bold;
	text-decoration: none;
	margin: 0;
	padding: 20px 0 30px 20px;
}
